

<sb-layout-blog>
    <sb-clean-blog-header backgroundImage='url("assets/img/home-bg.jpg")' heading="Martynas Samuilovas Blog" 
    subHeading="Blog about my journey to becoming a senior developer" [siteHeading]="true"></sb-clean-blog-header><sb-demo-info ></sb-demo-info
    ><ng-container *ngIf="postsObservable | async as posts"
        ><div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview" *ngFor="let post of posts">
                        <h2>{{post.payload.subHeading}}</h2>
                        <a [routerLink]="post.id">
                            <h2 class="post-title">{{post.payload.heading}}</h2>
                            <h3 class="post-subtitle">{{post.payload.subHeading}}</h3>
                            </a
                        >
                        <p class="post-meta">{{post.payload.meta}}</p>
                    </div>
                </div>
            </div>
        </div></ng-container>
</sb-layout-blog>