<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">              
                <div *ngIf="!(afAuth.authState | async)">
                    <h1>Login</h1>
                    <button class="btn btn-primary" (click)='login()'>
                      <img src="../../../../assets/google-logo.svg" /> Login with Google
                    </button>
                  </div>
                  <div *ngIf="afAuth.authState | async as user" class="logout">
                    <p class="text-white text-center mt-5">
                      Logged in as <strong>{{ user.email }}</strong>
                    </p>
                    <div class="text-white text-center mt-5">
                        <button class="btn btn-primary text-center" (click)="afAuth.signOut()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
